<section class="section" *ngIf="!isLoading" >
  <div class="card">
    <h1 class="section__title">Аналитика покупок</h1>
      <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [grid]="chartOptions.grid"
      [fill]="chartOptions.fill"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
  </div>
</section>

<div *ngIf="isLoading" class="spinner-container">
  <span class="loader"></span>
</div>