<section class="section" >
  <h1 class="section__title">Аналитика покупок</h1>

  <div class="card"  >
    <h3>Фильтры</h3>
    <form [formGroup]="filters">

    <mat-form-field appearance="outline" class="filter__item">
      <mat-label>Магазины</mat-label>

      <mat-select formControlName="store" [hideSingleSelectionIndicator]="true" multiple>
          <mat-option
              *ngFor="let store of stores$ | async; let i = index"
              [value]="store"
          >
                  {{ store.store_id }}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter__item">
    <mat-label>Товары</mat-label>

    <mat-select formControlName="item" [hideSingleSelectionIndicator]="true" multiple>
        <mat-option
            *ngFor="let item of items$ | async; let i = index"
            [value]="item"
        >
                {{ item.item_id }}
        </mat-option>
    </mat-select>
</mat-form-field>
  </form>
  </div>
</section>
