.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.mat-mdc-table {
  table-layout: fixed;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #f5f5f5;
}


.mat-elevation-z8 {
  width: 100%;
  border-collapse: collapse;
}

.mat-elevation-z8 th,
.mat-elevation-z8 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  color: black;

}

.mat-elevation-z8 th {
  background-color: #f5f5f5;
}


.mat-elevation-z8 {
  background-color: white;
  color: black;
}

.mat-elevation-z8 {
  width: 100%;
  border-collapse: collapse;
  color: #333;
  /* Dark text color */
}

.mat-elevation-z8 th,
.mat-elevation-z8 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.mat-elevation-z8 th {
  background-color: #f5f5f5;
}


table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.table {
  max-height: 500px;
  /* Установите желаемую максимальную высоту */
  overflow-y: auto;
  /* Добавляет вертикальную прокрутку, если содержимое превышает максимальную высоту */
}

.wrapper {
  max-height: 650px;
  /* Высота контейнера должна быть больше, чем максимальная высота таблицы */
  overflow: auto;
  /* Скрыть часть таблицы, если она превышает высоту контейнера */
  position: relative;
  /* Позиционирование для прокрутки */
}


.card {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 40px 50px 0 rgba(80, 80, 80, 0.10);
  margin-top: 20px;
  margin-bottom: 50px;
}

.card-filter {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  // box-shadow: 10px 40px 50px 0 rgba(80, 80, 80, 0.40);
  margin-top: 20px;
  width: 500px;
}

.card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #0085ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: #0066cc;
}

.card {
  display: flex;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  // box-shadow: 10px 40px 50px 0 rgba(80, 80, 80, 0.40);
  margin-top: 20px;
  margin-bottom: 70px;
}

.card h2 {
  color: #333;
  font-size: 32px;
  /* Увеличила размер шрифта заголовка */
  margin-bottom: 0;
  /* Убрала отступ снизу у заголовка */
  flex: 1;
  /* Занимает половину ширины карточки */
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  flex: 1;
  /* Занимает половину ширины карточки */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  /* Увеличила размер шрифта кнопки */
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #0085ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  /* Занимает половину ширины карточки */
  margin-top: 60px;
}

.btn:hover {
  background-color: #0066cc;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f5f5f5;
  padding: 10px 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4285F4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 16px;
  width: 150px;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  // box-shadow: 10px 40px 50px 0 rgba(80, 80, 80, 0.40);
  margin-top: 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #f5f5f5;
}


.mat-form-field {
  background-color: #f5f5f5;
}

.mat-label {
  color: #333;
}

.mat-select {
  background-color: #fff;
}

.mat-option {
  color: #333;
}

h2 {
  margin-bottom: 20px !important;
}

h1.section__title {
  margin-top: 10px;
  font-size: 36px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.date {

  &-form {
    width: 265px;
  }

  &-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.btn {
  color: white !important;
  background-color: #140AF0 !important;
  width: 200px;
}

.disabled {
  opacity: 0.5;
  background-color: #5f5f5f !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #140AF0;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.filter {
  margin-top: 20px;
}