<section class="section" >

  <div class="card-first">
    <div>
      <h2>ПРОГНОЗИРОВАНИЕ СПРОСА ДЛЯ РИТЕЙЛЕРОВ</h2>
      <p class="subtitle">
        Эффективная модель прогнозирования спроса, которая позволяет ритейлерам оптимизировать свои запасы, улучшить управление цепочками поставок и повысить уровень обслуживания клиентов.

      </p>
    </div>
    <!-- <div class="nap__img" >
      <img  src="../../../assets/img/nap.png" alt="" />
    </div> -->
  </div>


  <div class="blue-section">
    <p class="blue-section-p">
      Мы провели исследование факторов, влияющих на покупательское поведение, и построили модель для
      прогнозирования спроса, которая включает в себя анализ исторических данных о продажах, сезонных колебаниях, трендах и других факторах.
    </p>
  </div>

  <div>
    <div class="list-wrapper">
      <h1 class="pluses">Преимущества сервиса:</h1>
      <ul>
        <li>
          <div>
            <div class="img-wrap img-wrap-icons">
              <img src="../../../assets/img/save.png" alt="Информация" />
              <h4>Актуальная и надежная информация</h4>
            </div>
            <p class="list-text">
              Предоставляем актуальную и надежную информацию, которая позволяет сократить издержки на хранение и управление запасами
            </p>
          </div>
        </li>
        <li>
          <div>
            <div class="img-wrap img-wrap-icons">
              <img src="../../../assets/img/analys.png" alt="Информация" />
              <h4>Использование современных аналитических методов</h4>
            </div>
            <p class="list-text">
              Используем современные аналитические методы, такие как анализ
              данных, моделирование и статистические алгоритмы, которые позволяют увеличить прибыль, предлагая товары в нужное время и в нужном количестве;
            </p>
          </div>
        </li>
        <li>
          <div>
            <div class="img-wrap img-wrap-icons">
              <img src="../../../assets/img/nap.png" alt="Удобство" />
              <h4>Удобство использования</h4>
            </div>
            <p class="list-text">
              Удобен в использовании благодаря своей доступности онлайн и
              интуитивно понятному интерфейсу, что позволяет 
              обеспечивать наличие популярных товаров;
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</section>
