.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.mat-mdc-table {
  table-layout: fixed;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #f5f5f5;
}

.mat-elevation-z8 {
  width: 100%;
  border-collapse: collapse;
}

.mat-elevation-z8 th,
.mat-elevation-z8 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}

.mat-elevation-z8 th {
  background-color: #f5f5f5;
}

.mat-elevation-z8 {
  background-color: white;
  color: black;
}

.mat-elevation-z8 {
  width: 100%;
  border-collapse: collapse;
  color: #333;
  /* Dark text color */
}

.mat-elevation-z8 th,
.mat-elevation-z8 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.mat-elevation-z8 th {
  background-color: #f5f5f5;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.table {
  max-height: 500px;
  /* Установите желаемую максимальную высоту */
  overflow-y: auto;
  /* Добавляет вертикальную прокрутку, если содержимое превышает максимальную высоту */
}

.wrapper {
  max-height: 650px;
  /* Высота контейнера должна быть больше, чем максимальная высота таблицы */
  overflow: auto;
  /* Скрыть часть таблицы, если она превышает высоту контейнера */
  position: relative;
  /* Позиционирование для прокрутки */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  // box-shadow: 10px 40px 50px 0 rgba(80, 80, 80, 0.4);
  margin-top: 20px;
  margin-bottom: 70px;
}

.card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #0085ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0066cc;
}

.card {
  display: flex;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 40px 50px 0 rgba(80, 80, 80, 0.1);
  margin-top: 20px;
  margin-bottom: 70px;
}

.card h2 {
  color: #333;
  font-size: 32px;
  /* Увеличила размер шрифта заголовка */
  margin-bottom: 0;
  /* Убрала отступ снизу у заголовка */
  flex: 1;
  /* Занимает половину ширины карточки */
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  flex: 1;
  /* Занимает половину ширины карточки */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  /* Увеличила размер шрифта кнопки */
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #0085ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  /* Занимает половину ширины карточки */
  margin-top: 60px;
}

.btn:hover {
  background-color: #0066cc;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f5f5f5;
  padding: 10px 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4285f4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 16px;
  width: 150px;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  // box-shadow: 10px 40px 50px 0 rgba(80, 80, 80, 0.4);
  margin-top: 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #f5f5f5;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

h2 {
  margin-bottom: 30px !important;
}

h4 {
  margin: 0;
}

.btn {
  color: white !important;
  background-color: #140AF0 !important;
}

.disabled {
  opacity: 0.5;
  background-color: #5f5f5f !important;
}
