<section class="section">
  <div class="card">
    <h2>Добавление данных</h2>

    <div class="container">
      <div class="row mt-5">
        <div class="col-md-4">
          <label for="formFile" class="form-label">
            <h4>Загрузите файл в формате <b>.zip</b> <br /> Для этого выберите или перетащите его в ячейку</h4>
          </label>
          <input (change)="onFilechange($event)" class="form-control" type="file" id="formFile" />
          <button mat-button class="btn"   [ngClass]="{ 'disabled': !isFileExist }" 
          [disabled]="!isFileExist" (click)="upload()">
            Загрузить
          </button>
        </div>
      </div>
    </div>
  </div>
</section>